body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
background: #242424;
color: #fff;
}

#root{
  height: 100%;
  width: 100%;
}